@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;
@use "/src/styles/base/positions" as positions;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: positions.$z-modal;
  &__background {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: positions.$z-modal;
  }
  &__container {
    @include utilities.renian-flexbox-param(flex, center, center);
    width: 100vw;
    height: 100vh;
  }
  &__content {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    max-width: 70%;
    min-height: 35rem;
    height: 80vh;
    @include utilities.renian-grid-param(grid, 0.7fr 1.3fr, auto, auto);
    @include breakpoints.large {
      @include utilities.renian-grid-param(grid, 1fr, auto, auto);
    }
    @include breakpoints.small {
      max-width: 90%;
    }
    & > div:first-child {
      width: 100%;
      height: 80vh;
      min-height: 35rem;
      background: colors.$secondary;
      padding: 0 4%;
      position: relative;
      @include utilities.renian-flexbox-param(flex, center, auto);
      flex-direction: column;
      @include breakpoints.large {
        display: none;
      }
      & > div:last-child {
        width: 100%;
        max-width: 18rem;
        height: 100%;
        @include utilities.renian-flexbox-param(flex, center, center);
        flex-direction: column;
        & > h1 {
          font-family: typography.$quicksand50;
          color: colors.$white;
          font-size: 40px;
          text-shadow: 1.5px 1.5px colors.$black;
          text-transform: uppercase;
          @include breakpoints.max-large {
            font-size: 30px;
          }
          & > span {
            color: colors.$primary;
          }
        }
      }
    }
    &Icon {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      padding: 0.4rem;
      margin-top: 2rem;
      @include utilities.renian-flexbox-param(flex, center, center);
      border: 3px solid colors.$white;
      @include breakpoints.max-large {
        width: 4.8rem;
        height: 4.8rem;
      }
      & > div {
        width: 100%;
      }
    }
    &Price {
      margin-top: 25%;
      @include breakpoints.max-large {
        margin-top: 10%;
      }
      & > h3 {
        font-family: typography.$roboto40;
        color: colors.$gray50;
        font-size: 25px;
        text-align: center;
        font-style: italic;
        text-transform: uppercase;
        @include breakpoints.max-large {
          font-size: 17px;
        }
        @include breakpoints.xl-large {
          font-size: 14px;
        }
      }
      & > h1 {
        font-family: typography.$roboto40;
        color: colors.$white;
        font-size: 120px;
        text-shadow: 2.5px 2.5px colors.$black;
        line-height: 110px;
        @include breakpoints.max-large {
          font-size: 90px;
        }
        @include breakpoints.xl-large {
          font-size: 80px;
        }
        & > span {
          font-family: typography.$roboto10;
          font-size: 70px;
          @include breakpoints.xxl-large {
            font-size: 60px;
          }
          @include breakpoints.xl-large {
            font-size: 52px;
          }
        }
      }
    }
    &Include {
      margin-top: 10%;
      & > h4 {
        font-family: typography.$quicksand50;
        color: colors.$primary;
        font-size: 20px;
        text-align: center;
        margin-bottom: 2%;
        @include breakpoints.max-large {
          font-size: 17px;
        }
        @include breakpoints.xl-large {
          font-size: 15px;
        }
      }
      & > ul {
        list-style-type: circle;
        font-family: typography.$roboto10;
        color: colors.$gray10;
        border-top: 2px dotted colors.$gray60;
        border-bottom: 2px dotted colors.$gray60;
        & > li {
          line-height: 30px;
          @include breakpoints.max-large {
            line-height: 25px;
            font-size: 12px;
          }
          @include breakpoints.xl-large {
            line-height: 18px;
          }
        }
      }
    }
    &Main {
      width: 100%;
      background: colors.$white;
      min-height: 35rem;
      height: 80vh;
      &Stepper {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
          rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        & > div {
          width: 100%;
          max-width: 6.5rem;
          height: 5rem;
          margin: 0 auto;
          @include utilities.renian-flexbox-param(flex, center, center);
          position: relative;
          @include breakpoints.medium {
            max-width: 5rem;
          }
          & > span {
            width: 100%;
            height: 1px;
            background: colors.$gray20;
          }
          & > div {
            width: 100%;
            @include utilities.renian-flexbox-param(
              flex,
              center,
              space-between
            );
            position: absolute;
            z-index: 1;
            & > div {
              width: 1.8rem;
              height: 1.8rem;
              border: 1px solid colors.$gray40;
              border-radius: 50%;
              @include utilities.renian-flexbox-param(flex, center, center);
              background: colors.$white;
              font-family: typography.$roboto30;
              color: colors.$gray40;
              @include breakpoints.medium {
                width: 1.2rem;
                height: 1.2rem;
                font-size: 10px;
              }
              &:first-child {
                background: colors.$primary;
                color: colors.$white;
                border: 0;
              }
            }
          }
        }
      }
      &Form {
        width: 100%;
        height: 10rem;
        height: calc((100%) - ((5rem) + (4.5rem)));
        padding: 2.5rem 3% 5rem 3%;
        color: colors.$black;
        overflow: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 7px;
        }
        &::-webkit-scrollbar-track {
          background-color: #f5f5f5;
        }
        &::-webkit-scrollbar-thumb {
          background-color: colors.$primary;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-button {
          display: none;
        }
        @include breakpoints.medium {
          padding: 2.5rem 5% 5rem 5%;
        }
        & p {
          font-family: typography.$roboto40;
          color: colors.$gray80;
          font-size: 13px;
        }
        &Reveal {
          width: 100%;
          height: 4rem;
          @include utilities.renian-grid-param(
            grid,
            repeat(2, 1fr),
            auto,
            1rem
          );
          & > div:first-child {
            @include utilities.renian-flexbox-param(flex, flex-start, center);
            gap: 0.8rem;
            & > p {
              width: 100%;
              font-family: typography.$roboto30;
              font-size: 16px;
            }
          }
          & > div:last-child {
            width: 100%;
          }
        }
        &Section {
          width: 100%;
          margin-top: 2.5rem;
          & > h3 {
            font-family: typography.$quicksand40;
            color: colors.$primary;
            font-size: 25px;
            text-transform: capitalize;
            margin-bottom: 0.8rem;
          }
          & > div {
            @include utilities.renian-grid-param(
              grid,
              repeat(2, 1fr),
              1rem,
              1rem
            );
            @include breakpoints.small {
              @include utilities.renian-grid-param(grid, 1fr, auto, auto);
            }
          }
        }
        &Identification {
          margin-top: 0;
        }
        &Address {
          margin-top: 2.5rem;
        }
        &Ubigeo {
          & > div:first-child {
            @include utilities.renian-grid-param(
              grid,
              repeat(3, 1fr),
              1rem,
              0.5rem
            );
            & > div:last-child {
              grid-column: 1 / 4;
            }
          }
        }
        &Agree {
          width: 100%;
          max-width: 30rem;
          margin: 2.5rem auto 0 auto;
          padding: 2rem;
          border: 1px solid hsl(0, 0%, 80%);
          border-radius: 4px;
          & > div {
            @include utilities.renian-flexbox-param(flex, center, center);
            gap: 1rem;
          }
        }
        &Document {
          & > h4 {
            font-family: typography.$quicksand40;
            color: colors.$black;
            font-size: 17px;
            text-transform: none;
            margin-bottom: 0.8rem;
          }
          & > div {
            margin-top: 1.5rem;
            & > div {
              @include utilities.renian-flexbox-param(flex, auto, auto);
              flex-direction: column;
              & > div {
                width: 100%;
                max-width: 10rem;
                margin: 1rem auto 0 auto;
              }
            }
            & h5 {
              font-family: typography.$roboto30;
              color: colors.$primary100;
              font-size: 13px;
              text-align: center;
              text-transform: capitalize;
            }
          }
        }
        &Payment {
          width: 100%;
          padding: 2rem;
          & > h3 {
            font-family: typography.$quicksand40;
            color: colors.$primary;
            font-size: 25px;
            text-transform: capitalize;
            margin-bottom: 0.8rem;
            text-align: center;
            margin-bottom: 2rem;
          }
          & > div {
            @include utilities.renian-grid-param(
              grid,
              repeat(2, 1fr),
              auto,
              8%
            );
          }
          & > div:last-child {
            width: 100%;
            min-height: 12rem;
            display: block;
            margin-top: 3rem;
            background: colors.$gray10;
            padding: 1.5rem 0.5rem;
            border-radius: 15px;
            @include utilities.renian-flexbox-param(flex, center, center);
            & > p {
              font-size: 15px;
              font-family: typography.$roboto30;
            }
          }
          &Card {
            width: 100%;
            min-height: 8rem;
            @include utilities.renian-flexbox-param(flex, center, center);
            flex-direction: column-reverse;
            cursor: pointer;
            border: 1px solid hsl(0, 0%, 80%);
            border-radius: 4px;
            filter: saturate(0.3);
            transition: 0.5s;
            color: colors.$gray70;
            transform: scale(0.97);

            &:hover {
              filter: saturate(1) !important;
              transform: scale(1) !important;
            }
            & > div {
              width: 100%;
              max-width: 4.5rem;
            }
            & > h5 {
              font-size: 17px;
              font-family: typography.$quicksand50;
            }
          }
          &Fiat {
            width: 100%;
            max-width: 18rem;
            @include utilities.renian-flexbox-param(flex, center, center);
            flex-direction: column;
            gap: 1rem;
            & a {
              width: 100%;
            }
          }
          &Crypto {
            width: 100%;
            max-width: 25rem;
            text-align: center;
            & > h5 {
              text-transform: uppercase;
              font-family: typography.$quicksand10;
              color: colors.$primary;
              font-size: 16px;
              & > span {
                font-family: typography.$quicksand50;
              }
            }
            & p {
              margin-top: 1rem;
              cursor: pointer;
              font-family: typography.$roboto30;
              font-size: 15px;
              color: rgb(255, 217, 0);
              margin-bottom: 2rem;
              &:hover {
                text-decoration: underline rgb(255, 217, 0);
              }
            }
          }
        }
        &Capture {
          text-align: center;
          padding: 2rem;
          margin-top: 2rem;
          & > h3 {
            font-family: typography.$quicksand40;
            color: colors.$primary;
            font-size: 25px;
            text-transform: capitalize;
            margin-bottom: 0.8rem;
          }
          & > div {
            width: 100%;
            background: colors.$gray10;
            border-radius: 15px;
            padding: 1.5rem 2rem;
            margin-top: 0.5rem;
            & > div {
              width: 100%;
              max-width: 20rem;
              margin: 0 auto;
              flex-direction: column;
              gap: 1.5rem;
              @include utilities.renian-flexbox-param(flex, center, center);
              & > p {
                font-size: 15px;
                font-family: typography.$roboto20;
              }
            }
          }
        }
      }
      &Buttons {
        width: 100%;
        height: 4.5rem;
        padding: 0 3%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px -10px 15px -3px,
          rgba(0, 0, 0, 0.05) 0px -4px 6px -2px;
        position: relative;
        @include utilities.renian-flexbox-param(flex, center, flex-end);
        & div {
          width: 100%;
          max-width: 25rem;
          @include utilities.renian-flexbox-param(flex, auto, auto);
          gap: 0.5rem;
        }
      }
    }
  }
}
