@use "/styles/base/breakpoints" as breakpoints;
@use "/styles/base/colors" as colors;
@use "/styles/base/utilities" as utilities;
@use "/styles/base/typography" as typography;

.projection {
  width: 100%;
  padding: 3rem 0;
  background: rgba(221, 2, 2, 0.069);
  background-image: url("/img/mission/projection-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__container {
    width: 100%;
    max-width: breakpoints.$screen-max;
    margin: 0 auto;
    @include utilities.renian-grid-param(grid, 0.9fr 1.1fr, auto, 4rem);
  }

  &__text {
    @include utilities.renian-flexbox-param(flex, center, center);
    flex-direction: column;

    & > h2 {
      width: 100%;
      font-family: typography.$typography70;
      font-size: 30px;
      line-height: 50px;
      color: colors.$gray100;
      & span {
        color: colors.$primary;
      }
    }
    & > p {
      width: 100%;
      margin: 2rem auto;
      font-family: typography.$typography30;
      font-size: 16px;
      color: colors.$gray100;
    }
  }

  &__image {
    width: 100%;
    // max-width: 50rem;
    margin: 8rem auto 0;
    animation: scale 4s ease-in-out infinite;
    // border: 1px solid green;

    @keyframes scale {
      0% {
        transform: scale(1.05);
      }
      50% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.05);
      }
    }
  }
}
