@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;
@use "/src/styles/base/positions" as positions;

.container {
  width: 100%;
  height: 100%;
  max-width: breakpoints.$screen-max;
  position: relative;
  // z-index: positions.$z-container;
  margin: 0 auto;
  padding: 0 2%;
  @include breakpoints.medium {
    padding: 0 8%;
  }
}
