@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;
@use "/src/styles/base/positions" as positions;

.back {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 3rem 0 10rem 0;
  &__container {
    width: 100%;
    height: 100%;
  }
  &__title {
    & h3 {
      color: colors.$black;
      font-size: 20px;
      font-family: typography.$quicksand50;
      text-align: center;
      margin-bottom: 1.5rem;
      text-align: center;
      @include breakpoints.xl-large {
        font-size: 24px;
      }
      & > span {
        text-transform: uppercase;
        color: colors.$primary;
      }
    }
  }
  &__slider {
    width: 100%;
    min-height: 3.5rem;
    overflow: hidden;
    margin: 0 auto;
    & > div {
      list-style: none;
      height: 100%;
      @include utilities.renian-flexbox-param(flex, auto, auto);
      gap: 0.5rem;
      animation: marquee 70s linear infinite;
      @keyframes marquee {
        0% {
          transform: translateX(-180vw);
        }
        100% {
          transform: translateX(0);
        }
      }
      & > div {
        width: 20vw;
        height: 100%;
        position: relative;
        flex-shrink: 0;
        font-size: 30px;
        white-space: nowrap;
        font-size: 30px;
        & > div {
          width: 100%;
          // max-width: 7rem;
          max-width: 18rem;
          margin: 0 auto;
          transition: 0.4s;
          @include breakpoints.medium {
            max-width: 6rem;
          }
        }
      }
    }
  }
}

.information {
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: -7rem;
  @include utilities.renian-flexbox-param(flex, center, auto);
  @include breakpoints.medium {
    bottom: -18rem;
  }
  &__box {
    width: 100%;
    height: 100%;
    min-height: 8rem;
    overflow: hidden;
    border-radius: 5px;
    overflow: hidden;
    background: colors.$white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    @include utilities.renian-grid-param(grid, 0.3fr 0.7fr, auto, auto);
    @include breakpoints.medium {
      @include utilities.renian-grid-param(grid, 1fr, auto, auto);
      // border-radius: 15px;
    }
    &Img {
      width: 100%;
      height: 14rem;
      background: url("/img/more-information/image.jpg");
      background-repeat: no-repeat;
      background-position: initial;
      background-size: cover;
    }
    &Text {
      width: 100%;
      padding: 2rem;
      @include utilities.renian-flexbox-param(flex, center, auto);
      gap: 2rem;
      @include breakpoints.small {
        gap: 0.6rem;
      }
      & > div:first-child {
        & > div {
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          overflow: hidden;
          background: colors.$secondary;
          @include utilities.renian-flexbox-param(flex, center, center);
          @include breakpoints.medium {
            width: 3.5rem;
            height: 3.5rem;
          }
        }
      }
      & > div:last-child {
        & > h1 {
          color: colors.$black;
          font-size: 32px;
          font-family: typography.$quicksand50;
          margin-bottom: 1.5rem;
          @include breakpoints.xl-large {
            font-size: 26px;
          }
          @include breakpoints.medium {
            font-size: 18px;
          }
          & > span {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
