@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;
@use "/src/styles/base/positions" as positions;

.banner {
  width: 100%;
  height: calc((100vh) - (2.5rem + 13rem + 3.5rem));
  position: relative;
  overflow: hidden;
  @include breakpoints.xxl-large {
    height: calc((100vh) - (2rem + 7rem + 2rem));
  }
  @include breakpoints.medium {
    height: calc((100vh) - (7rem + 2rem));
  }
  background: colors.$gray80;
  & > div:first-child {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    @include breakpoints.max-large {
      padding: 0;
    }
  }
  &__first {
    width: 100%;
    height: 100%;
    padding-top: 3.5rem;
    background: url("/img/slides/slide_bg01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    & main {
      width: 100%;
      height: 100%;
      @include utilities.renian-grid-param(grid, 0.6fr 0.8fr 0.6fr, auto, 2rem);
      @include breakpoints.medium {
        @include utilities.renian-grid-param(grid, 1fr, auto, auto);
      }
    }
    &War {
      @include utilities.renian-flexbox-param(flex, center, auto);
      @include breakpoints.medium {
        display: none;
      }
      & > div {
        width: 100%;
        max-width: 22rem;
        @include breakpoints.xxl-large {
          max-width: 14rem;
        }
      }
    }
    &Text {
      font-family: typography.$typographySecondary;
      color: colors.$gray70;
      @include utilities.renian-flexbox-param(flex, center, center);
      flex-direction: column;
      width: 100%;
      max-width: 35rem;
      margin: 0 auto;
      text-align: start;
      & > h1 {
        font-size: 50px;
        @include breakpoints.xxl-large {
          font-size: 30px;
        }
        @include breakpoints.medium {
          font-size: 45px;
        }
      }
      & > div {
        margin-top: 2rem;
        @include breakpoints.xxl-large {
          margin-top: 1rem;
        }
        & > h3 {
          font-size: 40px;
          color: colors.$primary;
          @include breakpoints.xxl-large {
            font-size: 25px;
          }
          @include breakpoints.medium {
            font-size: 35px;
          }
        }
        & > h5 {
          font-size: 35px;
          @include breakpoints.xxl-large {
            font-size: 18px;
          }
          @include breakpoints.medium {
            font-size: 30px;
          }
        }
      }
    }
    &Image {
      @include utilities.renian-flexbox-param(flex, center, flex-end);
      @include breakpoints.medium {
        display: none;
      }
      & > div {
        width: 100%;
        max-width: 20rem;
        @include breakpoints.xxl-large {
          max-width: 12rem;
        }
      }
    }
  }
  &__second {
    width: 100%;
    height: 100%;
    padding-top: 3.5rem;
    background: url("/img/slides/slide_bg02.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    & main {
      width: 100%;
      height: 100%;
      @include utilities.renian-grid-param(grid, 0.7fr 1.3fr, auto, 2.5rem);
      @include breakpoints.medium {
        @include utilities.renian-grid-param(grid, 1fr, auto, auto);
      }
    }
    &Text {
      font-family: typography.$typography70;
      color: colors.$gray70;
      @include utilities.renian-flexbox-param(flex, flex-start, center);
      flex-direction: column;
      width: 100%;
      margin: 0 auto;
      & > h2 {
        font-size: 40px;
        color: colors.$black;
        text-align: end;
        @include breakpoints.xxl-large {
          font-size: 28px;
        }
        @include breakpoints.medium {
          text-align: start;
          font-size: 30px;
        }
      }
      & > div {
        margin-top: 2rem;
        text-align: start;
        @include breakpoints.xxl-large {
          margin-top: 1rem;
        }
        & > h5 {
          font-size: 22px;
          text-align: end;
          @include breakpoints.xxl-large {
            font-size: 16px;
          }
          @include breakpoints.medium {
            font-size: 20px;
            text-align: start;
          }
        }
      }
    }
    &Image {
      @include utilities.renian-flexbox-param(flex, center, flex-start);
      @include breakpoints.medium {
        display: none;
      }
      & > div {
        width: 100%;
        max-width: 30rem;
        @include breakpoints.xxl-large {
          max-width: 18rem;
        }
      }
    }
  }
  &__third {
    width: 100%;
    height: 100%;
    padding-top: 3.5rem;
    background: url("/img/slides/slide_bg03.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    & main {
      width: 100%;
      height: 100%;
      @include utilities.renian-grid-param(grid, 1.4fr 0.6fr, auto, 2rem);
      @include breakpoints.medium {
        @include utilities.renian-grid-param(grid, 1fr, auto, auto);
      }
    }
    &Text {
      font-family: typography.$typography70;
      color: colors.$gray70;
      @include utilities.renian-flexbox-param(flex, flex-start, center);
      flex-direction: column;
      width: 100%;
      margin: 0 auto;
      & > h5 {
        font-size: 23px;
        @include breakpoints.xxl-large {
          font-size: 17px;
        }
        @include breakpoints.medium {
          font-size: 20px;
          text-align: start;
        }
      }
      & > div {
        margin-top: 2rem;
        text-align: start;
        @include breakpoints.xxl-large {
          margin-top: 1rem;
        }
        & > h3 {
          font-size: 40px;
          color: colors.$primary;
          @include breakpoints.xxl-large {
            font-size: 25px;
          }
          @include breakpoints.medium {
            font-size: 28px;
          }
        }
      }
    }

    &Image {
      @include utilities.renian-flexbox-param(flex, center, flex-end);
      @include breakpoints.medium {
        display: none;
      }
      & > div {
        width: 100%;
        max-width: 25rem;
        @include breakpoints.xxl-large {
          max-width: 15rem;
        }
      }
    }
  }
}
