@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;
@use "/src/styles/base/positions" as positions;

.select {
  & > div:first-child {
    width: 100%;
    @include utilities.renian-flexbox-param(flex, flex-end, auto);
    line-height: 15px;
    gap: 0.2rem;
    margin-bottom: 0.5rem;
    & > h4 {
      font-family: typography.$quicksand40;
      color: colors.$gray70;
      font-size: 16px;
      text-transform: capitalize;
    }
    & > span {
      font-family: typography.$quicksand40;
      color: colors.$primary100;
      font-size: 9px;
    }
  }
}
