@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;

.background {
  width: 100%;
  height: auto;
  background: colors.$gray10;
  position: relative;
  overflow: hidden;
  &__decorate {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    &Footprints {
      width: 100%;
      height: 100%;
      @include utilities.renian-flexbox-param(flex, auto, space-between);
      opacity: 0.7;
      & > div {
        width: 100%;
        max-width: 40rem;
        position: relative;
        &:first-child {
          transform: scaleX(-1);
        }
      }
    }
  }
  &__container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-width: breakpoints.$screen-max;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    padding: 6% 2%;
    @include utilities.renian-flexbox-param(flex, center, center);
    @include breakpoints.medium {
      padding: 15% 2%;
    }
  }
}

.consult {
  width: 100%;
  height: 100%;
  &__card {
    width: 100%;
    height: 100%;
    min-height: 80vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background: colors.$white;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
  }

  &__header {
    width: 100%;
    height: 4rem;
    @include utilities.renian-flexbox-param(flex, center, space-between);
    background: colors.$white;
    background: colors.$primary;
    padding: 0 4%;
    border-bottom: 1px solid colors.$gray20;
    overflow: hidden;
    & > div {
      @include utilities.renian-flexbox-param(flex, center, auto);
      gap: 0.5rem;
      cursor: pointer;
      & > p {
        font-family: typography.$typography50;
        font-size: 14px;
        color: colors.$gray10;
      }
    }
    & > div:last-child {
      margin-top: 2%;
    }
  }

  &__search {
    width: 100%;
    height: 4rem;
    background: colors.$white;
    @include utilities.renian-flexbox-param(flex, center, center);
    gap: 2.5rem;
    border-bottom: 1px solid colors.$gray20;
    position: relative;
    z-index: 10;
    @include breakpoints.xl-large {
      gap: 1.5rem;
    }
    @include breakpoints.medium {
      justify-content: space-between;
      padding: 0 2%;
    }
    & > span {
      font-family: typography.$typography50;
      font-size: 16px;
      color: colors.$primary;
      @include breakpoints.xl-large {
        font-size: 13px;
      }
      @include breakpoints.medium {
        display: none;
      }
    }
    &Camp {
      @include utilities.renian-flexbox-param(flex, center, auto);
      gap: 0.5rem;
      @include breakpoints.medium {
        gap: 0.2rem;
      }
      & > input {
        // border: 0;
        width: 18rem;
        outline: none;
        border: 1px solid colors.$gray30;
        border-radius: 15px;
        font-family: typography.$typography40;
        font-size: 14px;
        padding: 0.3rem 0.8rem;
        color: colors.$gray60;
        @include breakpoints.medium {
          width: 12rem;
        }
        &:focus {
          font-family: typography.$typography50;
          background: colors.$primary100;
          background: rgba(221, 2, 2, 0.069);
        }
      }
      & > div {
        cursor: pointer;
      }
    }
    &Button {
      & > button {
        background-color: rgb(255, 191, 0);
        border: 0;
        border-radius: 30px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto,
          Ubuntu, "Helvetica Neue", sans-serif;
        font-size: 18px;
        outline: 0;
        padding: 10px 21px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: all 0.3s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        font-family: typography.$typographySecondary;
        @include breakpoints.xl-large {
          font-size: 15px;
          padding: 10px 17px;
        }
        @include breakpoints.medium {
          font-size: 14px;
          padding: 8px 19px;
        }

        &:before {
          background-color: initial;
          background-image: linear-gradient(
            #fff 0,
            rgba(255, 255, 255, 0) 100%
          );
          border-radius: 125px;
          content: "";
          height: 50%;
          left: 4%;
          opacity: 0.5;
          position: absolute;
          top: 0;
          transition: all 0.3s;
          width: 92%;
        }

        &:hover {
          box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
            rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
          // transform: scale(1.05);
        }
      }
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    min-height: 50rem;
    position: relative;
    padding: 4rem 0;

    & > h1 {
      font-family: typography.$typographyIndie;
      font-size: 65px;
      color: colors.$primary;
      text-align: center;
      position: relative;
      z-index: 10;
    }
    & > div:last-child {
      padding: 2%;
      width: 100%;
      height: 100%;
      @include utilities.renian-grid-param(grid, 0.8fr 1.2fr, auto, 4rem);
      position: relative;
      z-index: 10;
      @include breakpoints.m-large {
        @include utilities.renian-grid-param(grid, 1fr, 4rem, auto);
      }
    }
    &Bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background: url("/img/background4.jpg");
      background-position: initial;
      background-repeat: no-repeat;
      background-size: cover;
      filter: opacity(0.3);
      z-index: 1;
    }
    &Img {
      overflow: hidden;
      border-radius: 8px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      @include utilities.renian-flexbox-param(flex, center, center);
      flex-direction: column;
      padding: 4rem;
      backdrop-filter: blur(20px);
      @include breakpoints.m-large {
        box-shadow: none;
        backdrop-filter: blur(0);
        padding: 2rem;
      }

      & > div {
        width: 100%;
        max-width: 25rem;
        position: relative;
        @include breakpoints.m-large {
          max-width: 15rem;
        }
      }
      & > div:last-child {
        margin-top: 0.8rem;
        @include utilities.renian-flexbox-param(flex, center, auto);
        gap: 0.5rem;
        & > p {
          font-family: typography.$typography40;
          font-size: 14px;
          color: #ffae00;
        }
      }
    }

    &Info {
      &__cards {
        @include utilities.renian-grid-param(
          grid,
          repeat(2, 1fr),
          auto,
          1.5rem
        );
        & > div {
          width: 100%;
          border-radius: 8px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          padding: 2.5rem 25% 2.5rem 2.5rem;
          position: relative;
          overflow: hidden;
          backdrop-filter: blur(20px);
          &:hover {
            color: colors.$primary !important;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          }
        }
        &Img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          right: -50px;
          @include utilities.renian-flexbox-param(flex, center, flex-end);
        }
        &Text {
          & > h4 {
            font-family: typography.$typographySecondary;
            font-size: 20px;
            text-transform: uppercase;
            // color: colors.$gray80;
            margin-bottom: 1rem;
            position: relative;
            z-index: 100;
          }
          & > span {
            font-family: typography.$typography40;
            font-size: 14px;
            color: colors.$gray50;
          }
        }
      }

      &__general {
        width: 100%;
        margin-top: 4rem;

        &Table {
          @include utilities.renian-flexbox-param(flex, auto, auto);
          flex-direction: column;
          gap: 0.5rem;

          & > div {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            backdrop-filter: blur(20px);
            @include utilities.renian-flexbox-param(flex, auto, auto);
            border-radius: 4px;
            padding: 0.8rem 2.5rem;
            gap: 10%;
            color: colors.$gray80;
            transition: 0.3s;
            &:hover {
              color: colors.$primary;
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
            & > h5 {
              width: 15rem;
              font-family: typography.$typography60;
              font-size: 15px;
              text-transform: uppercase;
            }
            & > span {
              font-family: typography.$typography40;
              font-size: 13px;
              color: colors.$gray60 !important;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  &__default {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.2;
    filter: grayscale(0.8);
    @include utilities.renian-flexbox-param(flex, center, center);
    gap: 4rem;
    & > div {
      position: relative;
      width: 100%;
      max-width: 20rem;
      @include breakpoints.medium {
        max-width: 15rem;
      }
      &:last-child {
        width: 100%;
        max-width: 12rem;
        @include breakpoints.medium {
          max-width: 9rem;
        }
      }
    }
  }

  &__nochip {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.5;
    filter: grayscale(0.8);
    @include utilities.renian-flexbox-param(flex, center, center);
    flex-direction: column;
    gap: 2rem;
    & > div {
      width: 100%;
      max-width: 20rem;
      @include breakpoints.medium {
        max-width: 14rem;
      }
    }
    & > p {
      font-size: 25px;
      font-family: typography.$typography40;
      color: colors.$gray40;
      font-style: italic;
      max-width: 20rem;
      text-align: center;
      @include breakpoints.medium {
        font-size: 18px;
        max-width: 15rem;
      }
    }
  }
}
