@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;

.banner {
  width: 100%;
  // max-width: breakpoints.$screen-max;
  height: calc((100vh - 7rem + 4.5rem) - 30rem);
  min-height: 30rem;
  margin: 0 auto;

  &__first {
    width: 100%;
    height: 100%;
    background: rgb(209, 247, 255);
    background: radial-gradient(
      circle,
      rgba(209, 247, 255, 1) 0%,
      rgba(91, 223, 255, 1) 100%
    );
  }
  &__second {
    width: 100%;
    height: 100%;
    background: rgb(249, 249, 249);
    background: radial-gradient(
      circle,
      rgba(249, 249, 249, 1) 0%,
      rgba(193, 193, 193, 1) 100%
    );
  }
  &__third {
    width: 100%;
    height: 100%;
    background: rgb(209, 247, 255);
    background: radial-gradient(
      circle,
      rgba(209, 247, 255, 1) 0%,
      rgba(91, 223, 255, 1) 100%
    );
  }
}
