@use "/styles/base/breakpoints" as breakpoints;
@use "/styles/base/colors" as colors;
@use "/styles/base/utilities" as utilities;
@use "/styles/base/typography" as typography;

.owner {
  display: flex;
  width: 100%;
  height: 100vh;

  &__form {
    width: 50%;
    @include utilities.renian-flexbox-param(flex, center, center);
    flex-direction: column;
    & > h3 {
      font-family: typography.$typography40;
      font-size: 30px;
      color: colors.$gray80;
    }
    & > h6 {
      font-family: typography.$typography20;
      font-size: 15px;
      color: colors.$gray50;
      margin-top: 10px;
    }

    & > main {
      margin-top: 2.5rem;
      width: 100%;
      max-width: 380px;
    }

    &Box {
      height: 6.3rem;
      @include utilities.renian-flexbox-param(flex, auto, auto);
      flex-direction: column;
      & > h5 {
        font-family: typography.$typography30;
        font-size: 12px;
        color: colors.$gray70;
        margin-bottom: 6px;
        text-align: center;
      }
      & > input {
        // width: 360px;
        height: 44px;
        border: 1px solid colors.$gray30;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;
        padding: 10px 14px;
        outline: none;
      }
      & > small {
        font-family: typography.$typography60;
        font-size: 10px;
        line-height: 20px;
        margin-left: 10px;
        color: colors.$primary;
      }
    }

    &Button {
      margin-top: 0.2rem;
      & > button {
        width: 100%;
        height: 44px;
        background: colors.$primary;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: colors.$white;
        border: none;
        margin-bottom: 16px;
        cursor: pointer;
      }
    }

    & > div {
      width: 100%;
      max-width: 380px;
      margin-top: 40px;
      text-align: center;
      padding: 2rem;
      border: 1px solid colors.$gray30;
      border-radius: 8px;
      background: rgba(128, 128, 128, 0.114);
      & > p {
        font-family: typography.$typography40;
        font-size: 12px;
        color: colors.$gray60;

        & > a {
          font-family: typography.$typography50;
          color: colors.$primary;
          display: inline-block;
          cursor: pointer;
        }
      }
    }
  }

  &__decorate {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    background: colors.$gray10;
    background-image: url("/img/login-background.png");
    @include utilities.renian-flexbox-param(flex, center, center);
    padding: 5rem;
    & div {
      width: 100%;
      max-width: 25rem;
    }
  }
}
