@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;
@use "/src/styles/base/positions" as positions;

.copyright {
  width: 100%;
  padding: 0.6rem 0;
  background: colors.$primary100;

  &__container {
    width: 100%;
    height: 100%;
    @include utilities.renian-flexbox-param(flex, center, space-between);
    & > p {
      font-family: typography.$typography60;
      font-size: 10px;
      line-height: 20px;
      color: colors.$gray10;
    }
  }
}
