@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;
@use "/src/styles/base/positions" as positions;

.welcome {
  width: 100%;
  height: 3.5rem;
  position: relative;
  overflow: hidden;
  background: #f3f0f0;
  @include utilities.renian-flexbox-param(flex, center, center);
  overflow: hidden;
  @include breakpoints.xl-large {
    height: 2rem;
  }
  @include breakpoints.medium {
    display: none;
  }
  &__slider {
    color: rgba(0, 186, 254, 0.489);
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    & > ul {
      list-style: none;
      height: 100%;
      @include utilities.renian-flexbox-param(flex, auto, auto);
      gap: 0.5rem;
      animation: marquee 35s linear infinite;
      @keyframes marquee {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-180vw);
        }
      }
      & > li {
        @include utilities.renian-flexbox-param(flex, center, center);
        width: 30vw;
        flex-shrink: 0;
        font-size: 20px;
        white-space: nowrap;
        // font-family: typography.$typography60;
        font-weight: bolder;
        animation: neonEffect 5s infinite;
        @keyframes neonEffect {
          0%,
          35%,
          45%,
          65%,
          100% {
            text-shadow: white 0 0 5px, #7fd2ff 0 0 5px, #7fd2ff 0 0 5px;
          }
          40%,
          60%,
          80% {
            text-shadow: none;
          }
        }
        @include breakpoints.xl-large {
          font-size: 18px;
        }
      }
    }
  }
}
