@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;

.welcome {
  background: colors.$gray80;
  width: 100%;
  height: 3.5rem;
  @include utilities.renian-flexbox-param(flex, center, center);
  overflow: hidden;
  @include breakpoints.xl-large {
    height: 2rem;
  }

  &__container {
    // min-width: 80vw;
    width: 100%;
    max-width: breakpoints.$screen-max;
    margin: 0 auto;
  }

  &__slider {
    color: colors.$white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    & > ul {
      list-style: none;
      height: 100%;
      @include utilities.renian-flexbox-param(flex, auto, auto);
      gap: 0.5rem;
      animation: marquee 35s linear infinite;
      @keyframes marquee {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-180vw);
        }
      }
      & > li {
        @include utilities.renian-flexbox-param(flex, center, center);
        width: 30vw;
        flex-shrink: 0;
        font-size: 30px;
        white-space: nowrap;
        font-family: typography.$typographySecondary;
        font-size: 30px;
        @include breakpoints.xl-large {
          font-size: 18px;
        }
      }
    }
  }
}
