@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;
@use "/src/styles/base/positions" as positions;

.footer {
  width: 100%;
  padding: 2rem 0 6rem;
  background: colors.$gray100;
  position: relative;
  &__container {
    width: 100%;
    height: 100%;
    @include utilities.renian-flexbox-param(flex, auto, space-between);
    gap: 2rem;

    & > div {
      width: 100%;
      max-width: 30rem;
    }
  }
  &__description {
    &Image {
      max-width: 18rem;
      cursor: pointer;
    }
    & > p {
      margin-top: 1rem;
      font-family: typography.$typography30;
      color: colors.$gray50;
      font-size: 13px;
    }
  }
  &__contact {
    @include utilities.renian-flexbox-param(flex, flex-end, auto);
    flex-direction: column;
    & > h3 {
      font-family: typography.$typography60;
      color: #dd000090;
      font-size: 24px;
    }
    & > ul {
      margin-top: 1rem;
      @include utilities.renian-flexbox-param(flex, flex-end, flex-end);
      flex-direction: column;
      & > li {
        gap: 1rem;
        padding: 0.2rem 0;
        & > div {
          width: 30px;
          height: 30px;
          @include utilities.renian-flexbox-param(flex, center, center);
        }
        @include utilities.renian-flexbox-param(flex, center, auto);
        & > p {
          font-family: typography.$typography30;
          color: colors.$gray50;
          font-size: 13px;
        }
      }
    }
  }
}
