@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;
@use "/src/styles/base/positions" as positions;

.mission {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 4rem 0;
  background: colors.$secondary;
  &__container {
    width: 100%;
    height: 100%;
  }
  &__content {
    text-align: center;
    color: colors.$gray20;
    & h1 {
      color: colors.$white;
      font-size: 32px;
      font-family: typography.$quicksand50;
      text-align: center;
      margin-bottom: 1.5rem;
      text-align: center;
      @include breakpoints.xl-large {
        font-size: 26px;
      }
      & > span {
        text-transform: uppercase;
        color: colors.$primary;
      }
    }
    & p {
      margin: 1rem auto 0 auto;
      font-size: 18px;
      max-width: 60rem;
      font-family: typography.$roboto20;
      line-height: 28px;
      @include breakpoints.xl-large {
        font-size: 14px;
        line-height: 22px;
      }
    }
    &Images {
      margin-top: 4.5rem;
      @include utilities.renian-flexbox-param(flex, auto, space-between);
      gap: 1rem;
      @include breakpoints.xl-large {
        margin-top: 3rem;
      }
      @include breakpoints.medium {
        flex-direction: column;
        gap: 3.5rem;
      }
      & h4 {
        min-height: 6rem;
        font-size: 20px;
        font-family: typography.$quicksand50;
        text-align: center;
        text-shadow: 1px 1px black;
        @include breakpoints.xl-large {
          font-size: 18px;
        }
        @include breakpoints.medium {
          font-size: 16px;
          min-height: auto;
        }
      }
      & > div {
        width: 100%;
        max-width: 30rem;
        @include breakpoints.xl-large {
          max-width: 23rem;
        }
        @include breakpoints.medium {
          margin: 0 auto;
        }
        & > div {
          margin-top: 2.5rem;
        }
        & img {
          margin-top: 4rem;
        }
      }
    }
  }
}
