@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;
@use "/src/styles/base/positions" as positions;

.contact {
  width: 100%;
  height: 2.5rem;
  position: relative;
  overflow: hidden;
  background: colors.$tertiary;
  @include utilities.renian-flexbox-param(flex, center, auto);
  @include breakpoints.xl-large {
    height: 2rem;
  }
  @include breakpoints.medium {
    display: none;
  }
  &__container {
    width: 100%;
    height: 100%;
    @include utilities.renian-flexbox-param(flex, center, space-between);
  }
  &__info {
    display: flex;
    column-gap: 1.5rem;
    & > div {
      @include utilities.renian-flexbox-param(flex, center, auto);
      cursor: default;
      > a {
        height: 100%;
        display: flex;
        align-items: flex-end;
        font-family: typography.$roboto30;
        font-size: 10px;
        line-height: 20px;
        transition-duration: 0.4s;
        @include utilities.renian-flexbox-param(flex, center, auto);
      }
    }
  }
  &__networks {
    @include utilities.renian-flexbox-param(flex, center, auto);
    column-gap: 0.2rem;
    & > a {
      transition-duration: 0.4s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
