@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;
@use "/src/styles/base/positions" as positions;

.button {
  border: 0;
  border-radius: 15px;
  color: colors.$white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  outline: 0;
  padding: 10px 21px !important;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: typography.$roboto30;
  text-transform: capitalize;
  overflow: hidden;
  @include breakpoints.xl-large {
    font-size: 15px;
    padding: 10px 17px !important;
  }
  @include breakpoints.medium {
    font-size: 14px;
    padding: 8px 19px !important;
  }

  &:before {
    background-color: initial;
    background-image: linear-gradient(
      colors.$white 0,
      rgba(255, 255, 255, 0) 100%
    );
    border-radius: 20px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    transition: all 0.3s;
    width: 92%;
  }

  &:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
      rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  }
}
