/*
  Colors
  ==========================================================================
*/

$primary100: #f23839;
$primary: #bf002a;
$secondary: #342f2e;
$tertiary: #e8e8e8;

$white: #ffffff;
$gray10: #f5f5f5;
$gray20: #e1e1e1;
$gray30: #cccccc;
$gray40: #bababa;
$gray50: #929292;
$gray60: #757575;
$gray70: #606060;
$gray80: #3a3a3a;
$gray90: #333233;
$gray100: #212121;
$black: #000000;
$error: #f40000;
$success: #27a900;
