/*
  Reset
  ==========================================================================
*/
@use "./breakpoints" as breakpoints;
@use "./colors" as colors;

*,
html,
body {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  background: #f5f5f5;
}

// CUSTOM-SCROLLBAR
body::-webkit-scrollbar {
  width: 9px;
}
body::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
  background-color: colors.$primary;
  border-radius: 10px;
}
body::-webkit-scrollbar-button {
  display: none;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

img {
  user-select: none;
}

// INPUT-FORMAT
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// SLIDE
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev,
.swiper-button-next {
  color: #bf002a !important;
  @include breakpoints.medium {
    &::after {
      font-size: 25px !important;
    }
  }
}

.swiper-pagination-bullet-active {
  background-color: #bf002a !important;
}

input[type="file"] {
  display: none;
}
